.side .md > ol:nth-of-type(2) {
    position: absolute;
    top: 136px;
    left: -10px;
    width: 100%;
    background: url(http://i.imgur.com/3X5lg.png) repeat-x 10px -3px;
    height: 45px;
    margin-left: 0;
}

.side .md ol:nth-of-type(2) li {
    margin-top: 28px;
}

.side .md ol:nth-of-type(2) li:first-child {
    margin-left: 2em;
}

#header {
    border-bottom-color: transparent;
    margin-bottom: 70px;
}